# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/
conda/

# OS / editor
.DS_Store
.vscode/
.idea/

# Large datasets / archives
*.tar
*.tar.gz
*.zip

# Medical data
*.nii
*.nii.gz

# BraTS data (safety)
BraTS*/

# Cache
cache/

# =========================
# Keep empty folders, ignore contents
# =========================

# data folder
data/*
!data/.gitkeep

# datasets folder (if you want it to exist too)
datasets/*
!datasets/.gitkeep

# runs folder
runs/*
!runs/.gitkeep

# figures folder
figures/*
!figures/.gitkeep

# outputs / checkpoints (fully ignored, no folder needed)
outputs/
checkpoints/

# PyTorch weights
*.pth
*.pt
